
<div class="row">
  <div class="col-lg-9">
    <h1>Score Tracker</h1><br />
    <div class="row">
      <div class="col-md-4"><div class="well">Trello: <%= @gpa.current_grade.trello_earned_points %> / <%= @gpa.current_grade.trello_total_points %> (<%= @trello_percentage %>%)</div></div>
      <div class="col-md-4"><div class="well">Calendar: <%= @gpa.current_grade.calendar_earned_points %> / <%= @gpa.current_grade.calendar_total_points %> (<%= @calendar_percentage %>%)</div></div>
      <div class="col-md-4"><div class="well">Tasks: <%= @gpa.current_grade.misc_earned_points %> / <%= @gpa.current_grade.misc_total_points %> (<%= @misc_task_percentage %>%)</div></div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="row"><br />
      <div id='gpa_panel' class="panel">
        <div class="panel-heading">Current Statistics</div>
        <div class="panel-body">
          GPA: <%= @gpa.calculate_grade_percentage %>%
          <input id="active_gpa" class="hide" value="<%= @gpa.calculate_grade_percentage %>" />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  get_gpa($('#active_gpa').val());
</script>
