<%= form_for(@misc_task_categories) do |f| %>

  <div class="form-group">
    <%= f.label :new_category %>*<br>
    <%= f.text_field :category, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
    <%= link_to 'Back', '/misc_tasks', :class => 'btn btn-default' %>
  </div>
<% end %>
