<%= form_for(@misc_tasks) do |f| %>

  <div class="form-group">
    <%= f.label :name %>*<br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <%= f.label :days_accomplished %>*<br>
        <% @misc_tasks.total_points = 7 if @misc_tasks.total_points.nil? %>
        <%= f.select :actual_points, (0..@misc_tasks.total_points), {}, {:class => 'earned-points form-control' } %>
        <input type="hidden" value="<%= @misc_tasks.actual_points %>" class="earned-points-value" />
      </div>
      <div class="col-sm-6">
        <%= f.label :total_days %>*<br>
        <%= f.select :total_points, (1..7), {}, {:class => 'total-points form-control' } %>
        <input type="hidden" value="<%= @misc_tasks.total_points %>" class="total-points-value" />
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :Difficulty %><br>
    <%= f.select :weight, [['Easy', 1], ['Medium', 2], ['Hard', 3]], {}, {:class => 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category %><br>
    <div class="row">
      <div class="col-sm-6">
        <% @task_categories = [] if @task_categories.nil? %>
        <%= f.select :category, options_for_select(@task_categories.select{ |t| t.present? }), {:include_blank => "Please select"}, {:class => 'category_select form-control' } %>
      </div>
      <div class="col-sm-6">
        <%= f.text_field :category, :class => "category_add form-control", :placeholder => 'Add a category' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= f.check_box :repeat %> Repeat every week?
      </label>
    </div>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
    <%= link_to 'Back', '/misc_tasks', :class => 'btn btn-default' %>
  </div>
<% end %>

<script>
  $('.category_select').on('change', function() {
    if ($(this).val() == '') {
      $('.category_add').show();
      $('.category_add').val('');
    } else {
      $('.category_add').hide();
      $('.category_add').val($(this).val());
    }
  });

  var earned_points = $('.earned-points');
  var original_earned_points = $('.earned-points-value');
  var total_points = $('.total-points');

  total_points.on('change', function() {
    earned_points.empty();
    $.each(generate_select_array(total_points.val()), function(value,key) {
    earned_points.append($("<option></option>")
       .attr("value", value).text(key));
    });

    if((original_earned_points.val() <= total_points.val()) && original_earned_points.val() != '') {
      earned_points.val(original_earned_points.val());
    } else {
      earned_points.val(1);
    }
  });
</script>
