<%= form_for(@misc_tasks) do |f| %>

  <div class="form-group">
    <%= f.label :name %>*<br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <%= f.label :days_accomplished %>*<br>
        <%= f.select :actual_points, (0..7), {}, {:class => 'form-control' } %>
      </div>
      <div class="col-sm-6">
        <%= f.label :total_days %>*<br>
        <%= f.select :total_points, (1..7), {}, {:class => 'form-control' } %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :Difficulty %><br>
    <%= f.select :weight, [['Easy', 1], ['Medium', 2], ['Hard', 3]], {}, {:class => 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category %><br>
    <div class="row">
      <div class="col-sm-6">
        <% @misc_task_categories = [] if @misc_task_categories.nil? %>
        <%= f.select :category, options_for_select(@misc_task_categories.select{ |t| t.present? }), {:include_blank => "Please select"}, {:class => 'category_select form-control' } %>
      </div>
      <div class="col-sm-6">
        <%= f.text_field :category, :class => "category_add form-control", :placeholder => 'Add a category' %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
    <%= link_to 'Back', '/misc_tasks', :class => 'btn btn-default' %>
  </div>
<% end %>

<script>
  $('.category_select').on('change', function() {
    if ($(this).val() == '') {
      $('.category_add').show();
      $('.category_add').val('');
    } else {
      $('.category_add').hide();
      $('.category_add').val($(this).val());
    }
  });
</script>
