<div class="row">
  <div class="col-sm-6">
    <div class="subpage-header">Tasks</div>
  </div>
  <div class="col-sm-6">
    <div class="subpage-header subpage-header-right">Grade: <%= @gpa.calculate_grade_percentage %>%</div>
  </div>
</div>

<% @task_categories.each do |category| %>

  <div class="row">
    <div class="col-sm-12">
      <%= link_to category, "/misc_tasks/#{category}/edit_categories", :class => 'category-header' %>
    </div>
  </div><br />

  <div class="row">
    <% @tasks.select{ |t| t.category == category }.sort_by{ |e| e.name.downcase }.each do |task| %>
      <% if task.is_a? MiscTask %>
        <%= render partial: "misc_card", locals: {task: task} %>
      <% elsif task.is_a? Goal %>
        <%= render partial: "calendar_card", locals: {task: task} %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= link_to '/misc_tasks/new', :class => 'btn btn-default' do %>
  Add Task <span class="fa fa-plus" aria-hidden="true"></span>
<% end %>
