<h2>Tasks with Due Date</h2>

<%= week_calendar number_of_weeks: 1, table: {class: "table table-bordered"}, tr: {class: "calendar-row"}, td: {class: "day"}, events: @goals do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <i><%= meeting.name %></i>
    </div>
  <% end %>
<% end %>

<div class="row">
  <% @week_goals.each do |task| %>
    <%= render partial: "/misc_tasks/calendar_card", locals: {task: task} %>
  <% end %>
</div>

<%= link_to 'New Goal', new_goal_path, :class => 'btn btn-default' %>
